In [13]:
import pandas as pd
import msgpack

In [15]:
pd.read_csv('competitions/wallarm-ml-hackathon/train_info.csv')

           id  injection
0       14577      False
1       60186       True
2       58459       True
3       87091       True
4       44461      False
5       48719      False
6       29042      False
7        7505      False
8       41628      False
9       93118       True
10      63880       True
11      95737       True
12       9922      False
13      72712       True
14      38210      False
15      79075       True
16      58872       True
17      92282       True
18      42127      False
19      93400       True
20      95064       True
21       9685      False
22      87905       True
23      40034      False
24      70865       True
25     103816       True
26      94864       True
27      46984      False
28      83163       True
29      16654      False
...       ...        ...
65824   72922       True
65825   52622      False
65826   81925       True
65827   70924       True
65828   24318      False
65829    1094      False
65830  104846       True
65831   20325      False
65832   36749      False
65833   13793      False
65834   96118       True
65835   19205      False
65836  100530       True
65837  101755       True
65838   59359       True
65839   13004      False
65840   18384      False
65841   62401       True
65842   66242       True
65843   28483      False
65844   33508      False
65845   64685       True
65846   88812       True
65847   15590      False
65848   36250      False
65849   14417      False
65850   70730       True
65851   40004      False
65852   58284       True
65853   22046      False

[65854 rows x 2 columns]

In [21]:
with open('competitions/wallarm-ml-hackathon/train.msgpack', 'rb') as file:
    wallarm_train = msgpack.unpack(file)
with open('competitions/wallarm-ml-hackathon/test.msgpack', 'rb') as file:
    wallarm_test = msgpack.unpack(file)

In [22]:
wallarm_train = pd.DataFrame(wallarm_train)
wallarm_test = pd.DataFrame(wallarm_test)

In [25]:
wallarm_train.columns = ['id', 'text']
wallarm_test.columns = ['id', 'text']

In [26]:
wallarm_train

           id                                               text
0       59290  b"' and/**/38>( select\t(622)/**/from/*362 emh...
1       54992  b'shqpkt" union /*!426 all\t*/(select kwicwt(\...
2       64287  b'nhnqag" uniondistinct--154 298 plhlre exaloq...
3       28821                                  b'D8j+oNbylTIGw='
4       27825  b'ened \\">\\n  <head>\\n    <script data-reac...
5       74446                               b'" union/*M!719 */'
6       71873  b'194 union#93 yguxsk 669 393 \r\tselect\t\tex...
7       87153  b'/example.example?%7Cmeta%82http-equiv=Set-Co...
8       76096                                  b'"  /*M!union*/'
9       42354  b'/handler_sync_example.example?i=j4sR/mhZpekz...
10      41055  b'/search?string=EPSON EXPRESSION HOME XP-794&...
11      33516           b'kEC+oNOwUkgJOk4bn7Jm9wOWOT6V ... f9g='
12     101157  b'%24%3E%7Cscript%3Ealert(%12sap_its_urlmime_e...
13      74110  b'794  and bjwdqp((318), \t/*M!354 932, (625),...
14      44176  b'https://example.example.ru/krasota/massage/?...
15      16094  b'/handler_sync_example.example?i=Ypg//ONuVSKG...
16      83110  b'ru1527924556435" UNION SELECT CHAR(78,655,28...
17      76039                                   b"' union/*M!*/"
18      43379         b'm\xc2\xa4\x0c..dEv\xc3\x83\x0e\x085\x1d'
19      20021  b'If at least one response to *Race* (*America...
20      53171                                    b'%F3%3F%74%BF'
21     100344  b"%1C!--%16BEGIN%79JIVOSITE%58CODE%34%1Blitera...
22      94425           b'%5Ca%65HrEf=VbScRiPt:MsgBox(14527)%7E'
23      88449  b"'%23@--%4E%4C/style%4E%3C/scRipt%6E%5CscRipt...
24      78054  b"235548452427489' UNION SELECT CHAR(53,272,24...
25      97498  b"'%28--%9E%5C/style%2E%3C/scRipt%9E%9CscRipt%...
26      71720  b'893 union--anynpq mrrllu 556 55 \rall/*annaw...
27      81271                                b"view' aNd '8'='6"
28      60015  b'755 union/*mgjrer qqypxc */distinct\tselectd...
29      53814                              b'Sequoia F.3L Falco'
...       ...                                                ...
65824   60237  b'276 unionselect\t(wcsgyl/*882 bedfcf */((778...
65825    7198  b'y6C/NyocX/C+V ... +or+7CBG7BF7aFsdTRNl4zjWSr...
65826   28332  b'/handler_sync_example.example?i=xA27jrbUywGL...
65827   93122  b"left'%79()&%94%4Cacx%4E%6CScRiPt%27%9EvQez(4...
65828    2791  b'/suggest?q=snmp telnet&cat=2&locationId=835347'
65829   54636  b'58  union /*!*/select(eindxb\t()), (woilds(8...
65830   55601  b'"  union /*!select( pokxla(*/(jltoft ()), (v...
65831   19108  b'/handler_sync_example.example?i=MmxEFa915Xkh...
65832   21528  b'/catalog/tovari/akkumuliator-avtomobilnyi-mo...
65833   11731  b'/handler_sync_example.example?i=7kCYG4rhJWFt...
65834   62624  b'" or/*!932 93<( select\t*/rqxhua(13)\tfrom e...
65835   96676  b'wiki:example.example%18%9E%8Ca%82HrEf=VbScRi...
65836   32300  b'{"taskId":898496643,"userUid":"bot-142454935...
65837   50749                               b'Cambarus montanus'
65838  103381  b'/web/registration?passwordConfirmation=364%6...
65839   50555                                 b'Bryni of Sussex'
65840   67100                                b'478  /*M!union*/'
65841   75956                                 b'241  union/*!*/'
65842   39011  b'/admarvel/?referrer=http://example.exampleex...
65843    5928           b'fde/OnuGqHfjaA4mHsp2jSxUCfOP ... XwY='
65844   35499  b'2 pm: Ferry boards from EDIC Pier for Friday...
65845   51457                              b'Methanocorpusculum'
65846   96598           b'%5Ca%64HrEf=VbScRiPt:MsgBox(84858)%9E'
65847   94569  b'/example.example?Session=NWG6BNXVW8OXL&View=...
65848   67199                                 b'65  union/*M!*/'
65849  101752  b'/ar/oman/jobs/business-development-manager-....
65850    1268  b'/handler_sync_example.example?i=R6h7gDYJou38...
65851   59965  b"'union distinctselect ('touujd'), (rcgbfl), ...
65852   26176  b'/handler_sync_example.example?i=PHqomsUPFgwT...
65853    1762                                  b'na/<object wid'

[65854 rows x 2 columns]

In [27]:
train_info = pd.read_csv('competitions/wallarm-ml-hackathon/train_info.csv')

In [28]:
train_info

           id  injection
0       14577      False
1       60186       True
2       58459       True
3       87091       True
4       44461      False
5       48719      False
6       29042      False
7        7505      False
8       41628      False
9       93118       True
10      63880       True
11      95737       True
12       9922      False
13      72712       True
14      38210      False
15      79075       True
16      58872       True
17      92282       True
18      42127      False
19      93400       True
20      95064       True
21       9685      False
22      87905       True
23      40034      False
24      70865       True
25     103816       True
26      94864       True
27      46984      False
28      83163       True
29      16654      False
...       ...        ...
65824   72922       True
65825   52622      False
65826   81925       True
65827   70924       True
65828   24318      False
65829    1094      False
65830  104846       True
65831   20325      False
65832   36749      False
65833   13793      False
65834   96118       True
65835   19205      False
65836  100530       True
65837  101755       True
65838   59359       True
65839   13004      False
65840   18384      False
65841   62401       True
65842   66242       True
65843   28483      False
65844   33508      False
65845   64685       True
65846   88812       True
65847   15590      False
65848   36250      False
65849   14417      False
65850   70730       True
65851   40004      False
65852   58284       True
65853   22046      False

[65854 rows x 2 columns]

In [44]:
train = wallarm_train.merge(train_info, on='id')

In [52]:
train['text'] = train['text'].apply(lambda s: s.decode('utf-8'))

In [53]:
train.to_csv('wallarm.csv')